.container
	width 90%
	margin 0 auto
	margin-top 2rem
	display relative

.countdown
	background-color alpha(#000, 0.5)
	padding 2rem
	top 0
	left 0
	bottom 0
	right 0
	display flex
	flex-flow row wrap
	justify-content center
	align-items center
	text-align center
	color #fff


.countdown > h1
	font-size 3rem
	flex 0 1 100%
	margin-bottom 2rem

.countdown-block
	flex 1 0 20%

.countdown-time-label, .countdown-time-sublabel
	display block

.countdown-time-label
	font-size 3rem

.countdown-time-sublabel
	font-size 1rem